<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Survey Poll</title>
	</head>
	<body>
		<div ng-controller=surveyController>
			<h3><a href="#/dashboard">Go to Polls</a></h3>
			<h5>Click the Vote button to choose on</h5>
			<h2>{{showOne.question}}</h2>
			<table><tr>
				<th>Option</th>
				<th>Current Count of Votes</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>{{showOne.option1.option}}</td>
				<td>{{showOne.option1.votes}}</td>
				<td><button ng-click="vote1()">Vote</button></td>
			</tr>
			<tr>
				<td>{{showOne.option2.option}}</td>
				<td>{{showOne.option2.votes}}</td>
				<td><button ng-click="vote2()">Vote</button></td>
			</tr>
			<tr>
				<td>{{showOne.option3.option}}</td>
				<td>{{showOne.option3.votes}}</td>
				<td><button ng-click="vote3()">Vote</button></td>
			</tr>
			<tr>
				<td>{{showOne.option4.option}}</td>
				<td>{{showOne.option4.votes}}</td>
				<td><button ng-click="vote4()">Vote</button></td>
			</tr>
		</table>
	</div>
	</body>
</html>
